CONFIG_INT_WDT=
CONFIG_TASK_WDT=
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_SUPPORT_STATIC_ALLOCATION=y
CONFIG_ENABLE_STATIC_TASK_CLEAN_UP_HOOK=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_example.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_example.csv"
CONFIG_TIMER_TASK_STACK_DEPTH=3584
CONFIG_TIMER_TASK_PRIORITY=5
CONFIG_PARTITION_TABLE_CUSTOM_APP_BIN_OFFSET=0x20000
CONFIG_APP_OFFSET=0x20000
CONFIG_FREERTOS_LEGACY_HOOKS=y
CONFIG_FREERTOS_LEGACY_IDLE_HOOK=y
CONFIG_FREERTOS_LEGACY_TICK_HOOK=y
