[submodule "http-parser"]
	path = libraries/3rdparty/http_parser
	url = https://github.com/nodejs/http-parser.git
	branch = v2.9.2
[submodule "unity"]
	path = libraries/3rdparty/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	branch = v2.4.3
[submodule "freertos_kernel"]
	path = freertos_kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "pkcs11"]
	path = libraries/3rdparty/pkcs11
	url = https://github.com/amazon-freertos/pkcs11.git
	branch = v2.40_errata01
[submodule "lwip"]
	path = libraries/3rdparty/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "libraries/3rdparty/CMock"]
	path = libraries/3rdparty/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "vendors/espressif/esp-idf"]
	path = vendors/espressif/esp-idf
	url = https://github.com/espressif/esp-afr-sdk.git
	branch = release/v3.3
[submodule "mbedtls"]
	path = libraries/3rdparty/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
	branch = mbedtls-2.16.7
[submodule "libraries/abstractions/pkcs11/psa"]
	path = libraries/abstractions/pkcs11/psa
	url = https://github.com/Linaro/freertos-pkcs11-psa.git
[submodule "vendors/sierra/esp-idf"]
	path = vendors/sierra/esp-idf
	url = https://github.com/espressif/esp-afr-sdk.git
	branch = release/v3.3
