[submodule "http-parser"]
	path = libraries/3rdparty/http_parser
	url = https://github.com/nodejs/http-parser.git
	branch = v2.9.2
[submodule "unity"]
	path = libraries/3rdparty/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	branch = v2.4.3
[submodule "freertos_kernel"]
	path = freertos_kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "pkcs11"]
	path = libraries/3rdparty/pkcs11
	url = https://github.com/amazon-freertos/pkcs11.git
	branch = v2.40_errata01
[submodule "lwip"]
	path = libraries/3rdparty/lwip
	url = https://github.com/lwip-tcpip/lwip.git
