# Ignore uncrustify backups
*.unc*
doc/html/*
doc/output/*
doc/tag/*
doxygen_warnings.txt
/.metadata/
.vscode/*
*.o
*.d 
*.elf
*.hex
*.bin

RemoteSystemsTempFiles/*

# Ignore top-level build dir
/build*/

