CONFIG_ESP_INT_WDT=
CONFIG_ESP_TASK_WDT=
CONFIG_FREERTOS_SUPPORT_STATIC_ALLOCATION=y
CONFIG_FREERTOS_ENABLE_STATIC_TASK_CLEAN_UP=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partition-table.csv"
CONFIG_PARTITION_TABLE_FILENAME="partition-table.csv"
CONFIG_ESP32_WIFI_STATIC_RX_BUFFER_NUM=16
CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM=64
CONFIG_ESP32_WIFI_DYNAMIC_TX_BUFFER_NUM=64
CONFIG_TIMER_TASK_STACK_DEPTH=3584
CONFIG_FREERTOS_TIMER_TASK_PRIORITY=6
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PTHREAD_MUTEX_TIMEDLOCK=
CONFIG_MBEDTLS_ASYMMETRIC_CONTENT_LEN=y
CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=8192
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=4096
CONFIG_MBEDTLS_CMAC_C=y
CONFIG_MBEDTLS_ECP_RESTARTABLE=y
CONFIG_FREERTOS_LEGACY_IDLE_HOOK=
CONFIG_FREERTOS_LEGACY_TICK_HOOK=
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_LWIP_MAX_ACTIVE_TCP=32
CONFIG_MBEDTLS_THREADING_ALT=y
CONFIG_MBEDTLS_THREADING_C=y
CONFIG_MBEDTLS_ECDSA_DETERMINISTIC=n
CONFIG_MBEDTLS_SHA512_C=n
CONFIG_ESP_NETIF_TCPIP_ADAPTER_COMPATIBLE_LAYER=n
CONFIG_COMPILER_DISABLE_GCC8_WARNINGS=y
