awscli==1.16.296
boto3==1.14.16
botocore==1.17.16
cffi==1.13.2
Click==7.0
colorama==0.4.1
cryptography==2.8
docutils==0.15.2
intelhex==2.2.1
jmespath==0.9.4
pyasn1==0.4.8
pycparser==2.19
python-dateutil==2.8.0
PyYAML==5.1.2
rsa==3.4.2
s3transfer==0.2.1
six==1.13.0
urllib3==1.25.7
wheel==0.34.2
pyserial==3.4
lxml==4.6.1
